@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "_theme-colors";

// custom text styles
.text-style-1 {
  font-size: 1rem;
  font-weight: 500;
  color: #252525;
}

.text-style-2 {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #808d8e;
}

.btn a:hover {
  color: #fff;
}

.text-style-3 {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  color: #808d8e;
}

.row {
  margin-top: 5px;
}

body {
  margin-bottom: auto;
}

.container {
  margin: auto;
}

.card {
  padding: 1rem 1rem 1rem 1rem !important;
}

.web-logo {
  height: 100px;
}

.bookig-form-container {
  padding: 30px;
}

.select-btn {
  margin: 1rem;
  background-color: $secondary-color !important;
  color: $white !important;
  padding: 10px;
}

.select-btn:hover {
  color: $white;
}

.progress-container {
  height: 12rem;
  margin: 20px 0px 30px 0px;
  background-color: $primary-color;
}

.progress-boundary {
  width: 100%;
  height: 4rem;
  background-color: #ffffff73;
}

.progress-bar {
  width: 17%;
  height: 100%;
  background-color: $secondary-color;
}

.dashedSpace {
  width: 100%;
  height: 7px;
  margin-left: -30px;
  background-image: linear-gradient(
    to right,
    $white 0%,
    $white 70%,
    transparent 50%
  );
  background-size: 28px 1px;
  background-repeat: repeat-x;
}

.linear {
  background-image: linear-gradient(
    to right,
    #ccc 0%,
    $white 50%,
    transparent 50%
  );
  background-size: 50px 10px;
}

.progress-count {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
}

.progress-wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.progress-profile {
  height: 100%;
  width: 100%;
  position: relative;
  .image {
    width: 80%;
    height: 80%;
  }
}

.dot {
  height: 2.75rem;
  width: 2.75rem;
  background-color: $white;
  border-radius: 50%;
  position: relative;
  margin-left: -24px;
}

.available-mark {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  // position: relative;
  // display: inline-block;
}

.circle {
  height: 10rem;
  width: 10rem;
  background-color: #d4d4d4;
  border-radius: 50%;
  //   position: relative;
  // display: inline-block;
  .image {
    width: 100%;
    height: 100%;
  }
}

.fas {
  padding: 1rem;
}

.packages {
  .card {
    width: 100%;
    padding: 10px;
  }
  .h3 {
    .small-span {
      font-weight: 2;
    }
  }
}

#step_2,
#step_3,
#step_4,
#step-5,
#other-relationship,
#schedule-details_lessons,
#schedule-details_test {
  display: none;
}

.book-for-someone {
  display: none;
}

.step_2 .packages {
  margin-top: 100px;
}
