@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "_theme-colors";

// custom text styles
.text-style-1{
    font-size: 1rem;
    font-weight: 500;
    color: #252525;
    
}

.text-style-2{
    font-size: 0.9375rem;
    font-weight: 500;
    color: #808D8E;
}

.btn a:hover{
    color: #fff;
}

.text-style-3{
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    color: #808D8E;
}

.row{
    margin-top: 5px;
}

body{
    margin-bottom: auto;
}

.container{
    margin: auto;
}


.web-logo{
    height: 100px;
}

.bookig-form-container{
    width: 60%;
    padding: 30px;
}

.select-btn{
    margin: 1rem;
    background-color: $secondary-color;
    color: $white;
    padding: 10px;

}

.select-btn:hover{
    color: $white;
}

.progress-container{
    height: 10rem;
    margin: 20px 0px 30px 0px;
    background-color: $primary-color;
}

.packages{ 
    .card{
        width: 100%;
        padding: 10px;
    }
    .h3{
        .small-span{
            font-weight: 2;
        }
    }
}

#step_2, #step_3, #step_4, #other-relationship, #schedule-details_lessons, #schedule-details_test{
    display: none;
}

.book-for-someone{
    display: none;
}

.step_2 .packages{
    margin-top: 100px;
}




