$primary-color:#ffc20e;
$secondary-color: #1d2733;
$white: #fff;
$gery: #808d8e;
$discount-red: #FF6238;

// button colors
$btn-primary: #ffc20e;
$btn-primary-hover: #f4b600;
$btn-secondary: #454545;
$btn-secondary-hover: #383838;